<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Course</title>
    <script src=" https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.min.js "></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>Three-course Recipes</h1>
            <section id="chooise">
                <h2>Select your three-course</h2>
                <p>Make your own combination of five different
                    starters, dinners and desserts.</p>
            </section>
            <div>
                <section id="starterCourse" class="coursechooise starterDish">
                    <h3>Starters</h3>
                    <img v-if="currentStarter" :src="currentStarter.image" :alt="currentStarter.name">
                    <div>
                        <select class="dropdown" v-model="currentIndex.starter"
                            @change="changeCourse('starter', $event.target.value)">
                            <option v-for="(starter, index) in threeCourse.starter" :value="index">{{ starter.name }}
                            </option>
                        </select>
                    </div>
                </section>
                <section id="dinnerCourse" class="coursechooise dinnerDish">
                    <h3>Main Dinners</h3>
                    <img v-if="currentDinner" :src="currentDinner.image" :alt="currentDinner.name">
                    <div>
                        <select class="dropdown" v-model="currentIndex.dinner"
                            @change="changeCourse('dinner', $event.target.value)">
                            <option v-for="(dinner, index) in threeCourse.dinner" :value="index">{{ dinner.name }}
                            </option>
                        </select>
                    </div>
                </section>
                <section id="dessertCourse" class="coursechooise dessertDish">
                    <h3>Desserts</h3>
                    <img v-if="currentDessert" :src="currentDessert.image" :alt="currentDessert.name">
                    <div>
                        <select class="dropdown" v-model="currentIndex.dessert"
                            @change="changeCourse('dessert', $event.target.value)">
                            <option v-for="(dessert, index) in threeCourse.dessert" :value="index">{{ dessert.name }}
                            </option>
                        </select>
                    </div>
                </section>
            </div>
            <div>
                <button @click="recipesbtn" id="selectbtn">Select recipes</button>
            </div>
        </header>
        <main>
            <section v-if="selectedRecipes.starter" class="showdish starterDish">
                <h3>Starter</h3>
                <img v-if="selectedRecipes.starter" :src="selectedRecipes.starter.image"
                    :alt="selectedRecipes.starter.name">
                <h4 class="dishname">{{ selectedRecipes.starter.name }}</h4>
                <div class="displayrecipe">
                    <div class="ingredientsdiv">
                        <h5>Ingredients</h5>
                        <ul>
                            <li v-for="ingredient in selectedRecipes.starter.recipe" :key="ingredient.i_id">
                                {{ getIngredients(ingredient.i_id).name }} {{ ingredient.quantity }}g
                            </li>
                        </ul>
                    </div>
                    <div class="instructionsdiv">
                        <h5>Instructions</h5>
                        <ol>
                            <li v-for="instruction in selectedRecipes.starter.instructions" :key="instruction.id">{{
                                instruction.todo }}</li>
                        </ol>
                    </div>
                </div>
            </section>
            <section v-if="selectedRecipes.dinner" class="showdish dinnerDish">
                <h3>Dinner</h3>
                <img v-if="selectedRecipes.dinner" :src="selectedRecipes.dinner.image"
                    :alt="selectedRecipes.dinner.name">
                <h4 class="dishname">{{ selectedRecipes.dinner.name }}</h4>
                <div class="displayrecipe">
                    <div class="ingredientsdiv">
                        <h5>Ingredients</h5>
                        <ul>
                            <li v-for="ingredient in selectedRecipes.dinner.recipe" :key="ingredient.i_id">
                                {{ getIngredients(ingredient.i_id).name }} {{ ingredient.quantity }}g
                            </li>
                        </ul>
                    </div>
                    <div class="instructionsdiv">
                        <h5>Instructions</h5>
                        <ol>
                            <li v-for="instruction in selectedRecipes.dinner.instructions" :key="instruction.id">{{
                                instruction.todo }}</li>
                        </ol>
                    </div>
                </div>
            </section>
            <section v-if="selectedRecipes.dessert" class="showdish dessertDish">
                <h3>Dessert</h3>
                <img v-if="selectedRecipes.dessert" :src="selectedRecipes.dessert.image"
                    :alt="selectedRecipes.dessert.name">
                <h4 class="dishname">{{ selectedRecipes.dessert.name }}</h4>
                <div class="displayrecipe">
                    <div class="ingredientsdiv">
                        <h5>Ingredients</h5>
                        <ul>
                            <li v-for="ingredient in selectedRecipes.dessert.recipe" :key="ingredient.i_id">
                                {{ getIngredients(ingredient.i_id).name }} {{ ingredient.quantity }}g
                            </li>
                        </ul>
                    </div>
                    <div class="instructionsdiv">
                        <h5>Instructions</h5>
                        <ol>
                            <li v-for="instruction in selectedRecipes.dessert.instructions" :key="instruction.id">{{
                                instruction.todo }}</li>
                        </ol>
                    </div>
                </div>
            </section>

        </main>
        <footer>
            <section v-if="selectedRecipes.shoppingList" id="shoppinglist">
                <h6>Shopping List</h6>
                <ul>
                    <li v-for="shopping in currentShoppingList" key="shopping.i_id">
                        {{ getIngredients(shopping.i_id).name }} {{ shopping.quantity }}g
                    </li>
                </ul>
            </section>
        </footer>
    </div>
    <script src="threecourse.js"></script>
</body>

</html>